.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-top {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h5 {
  margin-top: 50px;
}
